login {
	background-color: #00BFFF; 
	color: white;
}

titol1 {
	background-color: #DC143C;
	color: white;
}

titol2 {
	background-color: #00BFFF;
	color: white;
}

dialog {
	background-color: #E11584; 
	color: white;
}